	#content {
		margin: 0 2em 4em 2em;
		padding: 2em 0em 0em 0em;
		border-style: none none solid none;
		border-bottom-width: thin;
		border-color: #242424;

	}

	p {
		font-size: 0.8em;
	}

	#content nav {
		margin:0;
	}

	header h1{
		font-size: 3.2em;
	}

	footer {
		padding: 2em 0 6em 0;
	}

	article > p, section > p {
		text-align: left;
		line-height: 1.5em;
		padding: 0 0 2em 0;
	}

	#bio {
		display: block;
	}
	.wrapper {
		display:block;
		padding: 0 0 0 0;
	}
	.inner {
		margin: auto;
		display: block;
	}
