@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
/*Note: The values "flex" and "inline-flex" requires the -webkit- prefix to work in Safari.*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Source Code Pro", Courier, monospace;
	text-align: center;
	background-color: #fcfcfc;
	color: #242424;
}

header {
	margin: auto;
}

header h1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0.5em auto 0 auto;
}

nav {
	margin: 0 4em 0 4em;
	padding: 0 0 1em 0;
	border-style: none none solid none;
	border-bottom-width: thin;
	border-color: #242424;
}

header h1 {
	font-size: 4em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0.5em auto 0 auto;
}

ul {
	list-style-type: none;
	font-weight: bold;
	padding: 0;
}

ul > li {
	display: -webkit-inline-flex;
	color: #484848;
	padding: 0.5em;
	margin: 0 0 0.2em 0;
}

a, a:visited {
	padding: 0.5em;
	color: #484848;
}

a:hover, a:active{
	background-color: #242424;
	color: #f3f3f3;
}

em {
	font-weight: bold;
	font-size: 1.5pc;
}

.current {
	border-left: solid 1px #242424;
	border-right: solid 1px #242424;
}

#content {
	padding: 2em 8em 4em 8em;
}

article {
	padding: 0 0 3em 0;
	display: block;
}

footer {
	padding: 2em 2em 8em 2em;
	background-color: #f3f3f3;
}
#bio {
	display: inline;
}

article > header {
	text-align: left;
}

article h2 {
	font-weight: bold;
	font-size: 2.2em;
}

article > a {
	text-align: right;
}

article h3 {
	color: #6c6c6c;
	font-size: 1.5em;
}

article > footer {
	padding: 0;
}

article > p, section > p {
	text-align: justify;
	line-height: 1.5em;
	padding: 0 0 2em 0;
}

.wrapper {
	display: -webkit-inline-flex;
	padding: 0 4em 0 4em;
}

.inner {
	margin-right: 2em;
	margin-left: 2em;
	text-align: justify;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0 0 2em 0;
}

#bio h2 {
	text-align: center;
}

footer aside {
	margin: 0 2em 0 2em;
	padding: 0 0 2em 0;
	text-align: justify;
}

aside h2 {
	text-align: center;
}

small {
	font-size: 1pc;
	color: #6c6c6c;
}

article > footer {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: right;
    background-color: #fcfcfc;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

#content {
  margin: 0 4em 4em 4em;
  padding: 2em 2em 0em 2em;
	border-style: none none solid none;
	border-bottom-width: thin;
	border-color: #242424;
}


#bio {
  display: inline;
}

#bio h2 {
    text-align: center;
}

article p {
  text-align: justify;
  padding: 0 0 2em 0;
}

article nav {
	margin: 0 4em 0 4em;
	padding: 0 0 1em 0;
	border-style: none none none none;
}

.wrapper {
  display: -webkit-inline-flex;
  padding: 0 4em 0 4em;
}

.inner {
  margin-right: 2em;
  margin-left: 2em;
  text-align: justify;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 0 2em 0;
}

.author {
	font-weight: bold;
}

.tags {
	margin: 0 4em 0 4em;
	padding: 0 0 1em 0;
}

article > footer {
	text-align: right;
	background-color: #fcfcfc;
}

.cropper {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
}

.recipeImageCropper {
	width: 250px;
	height: 200px;
	object-fit: cover;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	margin: auto;
}

img {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

@media screen and (max-width: 768px) {

	#content {
		margin: 0 2em 4em 2em;
		padding: 2em 0em 0em 0em;
		border-style: none none solid none;
		border-bottom-width: thin;
		border-color: #242424;

	}

	#content nav {
		margin:0;
	}

	header h1{
		font-size: 3.2em;
	}

	footer {
		padding: 2em 0 6em 0;
	}

	article > p, section > p {
		text-align: left;
		line-height: 1.5em;
		padding: 0 0 2em 0;
	}

	#bio {
		display: block;
	}
	.wrapper {
		display:block;
		padding: 0 0 0 0;
	}
	.inner {
		display: block;
	}
}
