@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
/*Note: The values "flex" and "inline-flex" requires the -webkit- prefix to work in Safari.*/
html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  font-family: "Source Code Pro", Courier, monospace;
  margin: 0 0 0 0;
  text-align: center;
  background-color: #fcfcfc;
  color: #242424;
}

#nav {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1 {
  font-size: 5pc;
	font-weight: 700;
	line-height: 1.3;
	margin: 0.5em 0 0 0;
}

ul {
    list-style-type: none;
    font-weight: bold;
    padding: 0 2em 0 2em;
}

ul li {
  display: inline;
  color: #484848;
}

a {
  color: #484848;
}

a:hover {
  background-color: #484848;
  color: #f3f3f3;
}

a:clicked, a:visited {
  color: #484848;
}

em {
  font-weight: bold;
  font-size: 1.5pc;
}

#content {
  margin: 0 0 0 0;
  padding: 2em 8em 4em 8em;
}

#article {
  padding: 0 0 5em 0;
  display: block;
}

#bio {
  display: inline;
}

.heading {
  font-weight: bold;
  font-size: 2.5pc;
  text-align: justify;

}

.subheading {
  color: #6c6c6c;
  font-size: 2pc;
  text-align: justify;
}

.text {
  text-align: justify;
}

#foot {
  text-align: right;
}

#footer {
  margin: 0 0 0 0;
  padding: 2em 2em 3em 2em;
  background-color:	#f3f3f3;
}

.wrapper {
  display: inline-flex;
  padding: 0 0 0 0;
}

.inner {
  margin: 0 4em 0 2em;
  text-align: justify;
}

.inner > h2{
  text-align: center;
}

.innerLeft {
  margin: 0 2em 0 2em;
  text-align: justify;
}

.innerLeft > h2{
  text-align: center;
}

.innerRight {
  margin: 0 2em 0 2em;
  text-align: justify;
}

.innerRight > h2{
  text-align: center;
}

small {
  font-size: 1pc;
  color:	#6c6c6c;
}

.author {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #content {
      margin: 0 0 0 0;
      padding: 2em 2em 4em 2em;
    }
    #bio {
        display: block;
    }
    .wrapper {
        padding: 0 0 0 0;
        display:block;
    }
    .inner {
        display: block;
    }
}
